/* ===============================
   LOGIN PAGE – BAN QUẢN LÝ
   =============================== */
body {
    height: 100vh;
    background: url("../assets/bg.png");
    position: relative;
    background-size: 90%;
}

html, body {
    height: 100%;
    overflow: hidden;
}

/* ===== KHUNG TRẮNG ===== */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 560px;
    height: 300px;

    background: #ffffff;
    border-radius: 32px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.28);

    padding: 40px;

    display: flex;
    flex-direction: column;
}


/* ===== TIÊU ĐỀ ===== */
.login-title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #2f55a4;

    margin-bottom: 25px;
}


.login-center {
    height: calc(100% - 40px);

    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;      
}

/* ===== INPUT ===== */
.login-center input {
    width: 100%;
    max-width: 420px;
    height: 54px;

    margin-bottom: 20px;
    padding: 0 18px;

    border-radius: 10px;
    border: 2px solid #3a5ba9;
    background: #eef5ff;

    font-size: 16px;
    outline: none;
}

.login-center input::placeholder {
    color: #9aa0a6;
}

.login-center input:focus {
    border-color: #294a9a;
    box-shadow: 0 0 0 2px rgba(58, 91, 169, 0.15);
}

/* ===== BUTTON ===== */
.login-btn {
    margin-top: 6px;

    width: 260px;
    height: 52px;

    border: none;
    border-radius: 30px;

    background: #3f5fa9;
    color: #ffffff;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.25s ease;
}

.login-btn:hover {
    background: #2f4e95;
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(58, 91, 169, 0.35);
}
